.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.content {
  padding: 20px;
  height: calc(100vh - 64px);
  overflow: auto;
}

.spacer {
  flex: 1 1 auto;
}

.active {
  background-color: rgba(0, 0, 0, 0.04);
}

mat-nav-list a {
  display: flex;
  align-items: center;
  gap: 16px;
}

mat-nav-list mat-icon {
  margin-right: 0;
}
